{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
  {{ super() }}
{% endblock %}

{% block app_content %}
    <h1>{{ _('Projects') }}</h1>
        {% if form %}
            {{ wtf.quick_form(form) }}
        {% endif %}

        {% if projects %}
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">{{ _('id') }}</th>
              <th scope="col">{{ _('Name') }}</th>
              <th scope="col">{{ _('Description') }}</th>
              <th scope="col">{{ _('Status') }}</th>
              <th scope="col">{{ _('Created') }}</th>
              <th scope="col">{{ _('Deadline') }}</th>
              <th scope="col">{{ _('Estimated') }}</th>
              <th scope="col">{{ _('Duration') }}</th>
            </tr>
          </thead>
          <tbody>
            {% for project in projects %}
            <tr>
              <th scope="row">{{ project.id }}</th>
              <td>{{ project.name }}</td>
              <td>{{ project.description }}</td>
              <td>{{ project.status }}</td>
              <td>{{ project.created }}</td>
              <td>{{ project.deadline }}</td>
              <td>{{ project.estimated }}</td>
              <td>{{ project.duration }}</td>
              <td>
                  <a href="{{ url_for('projects.delete', project_id = project.id ) }}"><span class="glyphicon glyphicon-trash"></span></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
    <br>
{% endblock %}
