{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
  {{ super() }}
{% endblock %}

{% block app_content %}
<h1>{{ _('Tasks') }}</h1>
    <div class="container">
      <h2>Priority Tasks View</h2>
      <p>You can see your tasks in view separated by priority and importancy for you. Like pay bills ( urgent but not important ) </p>

        {% if tasks %}
          <table class = "table table-bordered">
             <tr>
                <td bgcolor="#ff4500">
                    {% for task in tasks %}
                    {% if task.group == '1' %}
                    <p><strong>{{ task.name }}</strong></p>
                    {% endif %}
                    {% endfor %}
                </td>
                <td bgcolor="#daa520">
                    {% for task in tasks %}
                    {% if task.group == '2' %}
                    <p><strong>{{ task.name }}</strong></p>
                    {% endif %}
                    {% endfor %}
                </td>
             </tr>
             <tr>
                <td bgcolor="#90ee90">
                    {% for task in tasks %}
                    {% if task.group == '3' %}
                    <p><strong>{{ task.name }}</strong></p>
                    {% endif %}
                    {% endfor %}
                </td>
                <td bgcolor="#00ffff">
                    {% for task in tasks %}
                    {% if task.group == '4' %}
                    <p><strong>{{ task.name }}</strong></p>
                    {% endif %}
                    {% endfor %}
                </td>
             </tr>
          </table>
        {% endif %}
    </div>
{% endblock %}