{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
  {{ super() }}
{% endblock %}

{% block app_content %}
<h1>{{ _('Tasks') }}</h1>
    <div class="container">
      <h2>Kanban Tasks View</h2>
      <p>You can see your tasks in view separated by current status of activity </p>

        {% if tasks %}
          <table class = "table table-bordered">
             <tr>
                 <td class="warning"> <h2>Backlog</h2></br>
                    {% for task in tasks %}
                    {% if task.status == '1' %}
                    <p><strong>{{ task.name }}</strong></p>
                    {% endif %}
                    {% endfor %}
                </td>
                <td class="info"> <h2>New</h2></br>
                    {% for task in tasks %}
                    {% if task.status == '2' %}
                    <p><strong>{{ task.name }}</strong></p>
                    {% endif %}
                    {% endfor %}
                </td>
                <td class="active"> <h2>In Progress</h2></br>
                    {% for task in tasks %}
                    {% if task.status == '3' %}
                    <p><strong>{{ task.name }}</strong></p>
                    {% endif %}
                    {% endfor %}
                </td>
                <td class="success"> <h2>Done</h2></br>
                    {% for task in tasks %}
                    {% if task.status == '4' %}
                    <p><strong>{{ task.name }}</strong></p>
                    {% endif %}
                    {% endfor %}
                </td>
             </tr>
          </table>
        {% endif %}
    </div>
{% endblock %}