{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link href="/static/css/style.css" rel="stylesheet">
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Planner{% else %}{{ _('Welcome to Planner') }}{% endif %}
{% endblock %}

{% block navbar %}
<div class="sidenav">
    {% if current_user.is_anonymous %}
        <a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a>
        <a href="{{ url_for('main.about') }}">{{ _('About') }}</a>
        <a href="{{ url_for('main.settings') }}">{{ _('Settings') }}</a>
    {% else %}
        <a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a>
        <a href="#">{{ _('Profile') }}</a>
        <a href="{{ url_for('tasks.add') }}">{{ _('Tasks') }}</a>
        <a href="{{ url_for('milestones.add') }}">{{ _('Milestones') }}</a>
        <a href="{{ url_for('projects.add') }}">{{ _('Projects') }}</a>
        <a href="{{ url_for('notes.add') }}">{{ _('Notes') }}</a>
        <a href="#">{{ _('Finances') }}</a>
    <!--{% endif %}-->
    <!--{% if context %}-->
        <!--{% if context.settings %}-->
            <!--<a href="#">{{ _('Settings') }}</a>-->
        <!--{% endif %}-->
    <!--{% endif %}-->
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% block app_content %}
    {% endblock %}
</div>
{% endblock %}

