{% extends 'bootstrap/base.html' %}

{% block scripts %}
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Planner{% else %}{{ _('Welcome to Planner') }}{% endif %}
{% endblock %}

{% block navbar %}
<div class="sidenav">
    {% if current_user.is_anonymous %}
        <a href="{{ url_for('main.index') }}">{{ _('Login') }}</a>
    {% else %}
        <a href="#">{{ _('Logout') }}</a>
        <a href="#">{{ _('Profile') }}</a>
    {% endif %}
    <a href="#">{{ _('Tasks') }}</a>
    <a href="#">{{ _('Milestones') }}</a>
    <a href="#">{{ _('Projects') }}</a>
    <a href="#">{{ _('Settings') }}</a>
    <a href="#">{{ _('Notes') }}</a>
    <a href="#">{{ _('Settings') }}</a>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block app_content %}
    {% endblock %}
</div>
{% endblock %}

