{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link href="/static/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Planner{% else %}{{ _('Welcome to Planner') }}{% endif %}
{% endblock %}

{% block navbar %}
<div class="sidenav">
    {% if current_user.is_anonymous %}
        <a href="{{ url_for('auth.login') }}">
            <i class="fa fa-fw fa-home"></i>
            {{ _('Login') }}
        </a>
        <a href="{{ url_for('main.about') }}">{{ _('About') }}</a>
        <a href="{{ url_for('main.settings') }}">
            <i class="fa fa-fw fa-home"></i>
            {{ _('Settings') }}
        </a>
    {% else %}
        <a href="{{ url_for('auth.logout') }}">
            <i class="fas fa-smile"></i>
            {{ _('Logout') }}
        </a>
        <a href="#">{{ _('Profile') }}</a>
        <a href="{{ url_for('tasks.add') }}">{{ _('Tasks') }}</a>
        <a href="{{ url_for('milestones.add') }}">{{ _('Milestones') }}</a>
        <a href="{{ url_for('projects.add') }}">{{ _('Projects') }}</a>
        <a href="{{ url_for('notes.add') }}">{{ _('Notes') }}</a>
        <a class="accordion-heading" data-toggle="collapse" data-target="#submenu">{{ _('Finances') }}<span class="pull-right"><b class="caret"></b></span></a>
    	<ul class="nav nav-list collapse" id="submenu">
		 	<li><a href="#" title="Title">{{ _('Accounts') }}</a></li>
			<li><a href="#" title="Title">{{ _('Expences') }}</a></li>
		</ul>
    <!--{% endif %}-->
    <!--{% if context %}-->
        <!--{% if context.settings %}-->
            <!--<a href="#">{{ _('Settings') }}</a>-->
        <!--{% endif %}-->
    <!--{% endif %}-->
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% block app_content %}
    {% endblock %}
</div>
{% endblock %}

